header {
  background-color: #681e22;
}
.default-background {
  background-color: #d4bf9b;
}
.border-style {
  border: 2px solid #681e22;
}
.gray-text {
  color: #606060;
}
#header-title {
  color: #fff;
  text-shadow: 0 0 5px #fff;
}
.bar-text {
  color: white;
  text-shadow: 0 0 5px black;
}
.xp-color {
  background-color: #529c2d;
}
#xp-next-level {
  border: 1.5px solid #681e22;
  background-color: #edd6ad;
}
.characteristic-bonus::after, .characteristic-value::after, .characteristic-deathsave::after, .characteristic-deathsave-checkbox::after
{
  box-shadow: 0px 0px 10px 0px rgba(66,66,66,0.75);
}
.hp-color {
  background-color: #b5353b;
}
.max-hp-temp-color {
  background-color: #860ab7;
}
.hp-temp-color {
  background-color: #004f69;
}
.default-hover-active:hover {
  background-color: #edd6ad;
}
.default-hover-active:active {
  background-color: #baa888;
}
.default-button:focus {
  border-color: #b5353b;
}
.default-shadow {
  box-shadow: 0px 0px 10px 0px rgba(66,66,66,0.75);
}
#new-item-dialog {
  box-shadow: 0 0 20px 2px black;
}
.image-selected {
  border: 2px solid blue;
}
#item-additional {
  background-color: #85615a;
  border: 2px solid #681e22;
  box-shadow: 0 0 10px 2px #424242;
}