:root {
  --white: #ffffff;
  --black: #000000;
  --bg-d-color: #a19175;
  --bg-n-color: #d4bf9b;
  --bg-l-color: #edd6ad;
  --accent-n-color: #681e22;
  --accent-l-color: #b5353b;
}

a {
  outline: none;
}

header {
  background-color: var(--accent-n-color);
}

input {
  outline: none;
  text-align: center;
}

input:valid:not(:placeholder-shown) {
  border-color: "";
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

select {
  background: url(/images/buttons/inputs/arrow_down.svg);
  background-position: 99% 55%;
  background-repeat: no-repeat;
  background-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  outline: none;
  border: none;
}

/*IE*/

select::-ms-expand {
  display: none;
}

/*FF*/

@-moz-document url-prefix() {
  select {
    padding-right: 5px;
  }
}

.select-padding {
  background-position: 100% 55%;
  padding-right: 1rem;
}

.default-button {
  text-align: center;
  outline: none;
  cursor: pointer;
}

.default-background {
  background-color: var(--bg-n-color);
}

.default-background-disabled {
  background-color: var(--bg-d-color);
}

.border-style {
  border: 2px solid var(--accent-n-color);
}

.border-radius {
  border-radius: 6px;
}

.gray-text {
  color: #606060;
}

#header-title {
  color: var(--white);
  text-shadow: 0 0 5px var(--white);
}

.header-buttons {
  color: var(--white);
}

.xp-color {
  background-color: #529c2d;
}

#xp-next-level {
  border: 1.5px solid var(--accent-n-color);
  background-color: var(--bg-l-color);
}

.characteristic-bonus::after, .characteristic-value::after, .characteristic-death-save::after, .characteristic-death-save-checkbox::after {
  box-shadow: 0 0 10px 0 rgba(66, 66, 66, 0.75);
}

.hp-color {
  background-color: var(--accent-l-color);
}

.max-hp-temp-color {
  background-color: #860ab7;
}

.hp-temp-color {
  background-color: #004f69;
}

.select-hover-active:hover {
  background-color: var(--bg-l-color);
  border: 2px solid var(--accent-l-color);
}

.select-hover-focus:focus {
  border: 2px solid var(--accent-l-color);
}

.default-hover-active:hover {
  background-color: var(--bg-l-color);
}

.default-hover-active:active {
  background-color: var(--bg-l-color);
}

.default-button:focus {
  border-color: var(--accent-l-color);
}

.default-text-shadow {
  text-shadow: 0 0 1px rgba(66, 66, 66, 0.75);
}

.default-shadow {
  box-shadow: 0 0 10px 0 rgba(66, 66, 66, 0.75);
}

.default-inner-shadow {
  box-shadow: 0 0 10px 0 rgba(99, 99, 99, 0.75);
}

.new-item-dialog {
  box-shadow: 0 0 20px 2px black;
}

.image-selected {
  border: 4px solid #82262a;
}

.beautiful-alert {
  color: white;
  background-color: var(--accent-n-color);
  border: 10px solid #4f181a;
}

#item-additional {
  background-color: #85615a;
  border: 3px solid var(--accent-n-color);
  box-shadow: 0 0 10px 2px #424242;
}

.input-font-style {
  line-height: inherit;
  font-family: Eberron;
  font-size: 1rem;
  color: black;
}

#main-dice, .dice-in-list, #death-saves-dice {
  background-color: #82262b;
  box-shadow: 0 0 10px 0 rgba(66, 66, 66, 0.75);
  border-radius: 50%;
  padding: 0.6em;
  border: none;
}

#main-dice:hover, .dice-in-list:hover, #death-saves-dice:hover {
  background-color: var(--accent-l-color);
}

#main-dice:active, .dice-in-list:active, #death-saves-dice:active {
  background-color: #4f171a;
}

.currency-value {
  border: none;
  background: none;
}

.currency-value:focus {
  outline: 2px solid var(--accent-l-color);
}

.bar-text {
  color: white;
  text-shadow: 0 0 5px black;
  border: none;
  background: none;
}

.bar-text:focus {
  outline: 2px solid var(--accent-l-color);
}

.character-name {
  background: none;
  border: none;
}

.character-name:focus {
  outline: 3px solid var(--accent-l-color);
  outline-offset: -0.12em;
}

.default-textarea-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #82262b transparent;
  scrollbar-highlight-color: var(--accent-l-color);
}

.default-textarea-scrollbar::-webkit-scrollbar-thumb {
  background-color: #82262b;
}

.default-textarea-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: var(--accent-l-color);
}

.characteristic-not-proficient {
  background-color: #998a70;
}

.characteristic-half-proficient {
  background: rgb(212, 191, 155);
  background: linear-gradient(0deg, rgba(212, 191, 155, 1) 0%, rgba(153, 138, 112, 1) 100%);
}

.characteristic-proficient {
  background-color: var(--bg-n-color);
}

.characteristic-expertise {
  background-color: #ffa834;
}

.file-custom::before {
  background-color: var(--bg-l-color);
}

.active-tab {
  position: relative;
  background-color: var(--bg-n-color);
}

.active-tab::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: inherit;
  left: 0;
  bottom: -0.1rem;
}

.default-select:hover {
  border-radius: 6px;
}

@media(max-width: 980px) {
  main {
    border: none !important;
  }
}