::selection {
  background: #ccc;
}
@font-face {
  font-family: "Eberron";
  src: url("../fonts/EBERRON_RUS.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
html {
  font-family: Eberron;
  font-size: 20px;
  scrollbar-width: thin;
  scrollbar-color: #4f171a transparent;
}
body {
  margin: 0;
}
::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width: 5px;
  height: 0px
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 200px;
  border-radius: 200px;
  background-color:#4f171a;
}

::-webkit-scrollbar-thumb:active {
  background-color:#82262b;
}

::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width: 14px;
  height:0px
}

::-webkit-scrollbar{
  width: 7px;
}