header {
  height: 1.6rem;
  line-height: 1.6rem;
}
main {
  display: grid;
  max-width: 960px;
  margin: 0.25em auto;
}
.border-radius {
  border-radius: 3px;
}
#header-center {
  max-width: 960px;
  height: 1.6rem;
  display: grid;
  grid-template-columns: 10rem 10rem auto auto 3.2rem;
  grid-template-rows: 1.6rem;
  align-items: center;
  justify-items: center;
  margin: auto;
}
.header-buttons {
  outline: none;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
#header-title {
  font-size: 1.2rem;
  margin-left: 0.4rem;
}
#naming {
  display: flex;
  max-width: 960px;
  margin-bottom: 1.5rem;
}
#naming-text {
  display: flex;
  position: relative;
  flex-direction: column;
  width: calc(100vw - 7em);
}
#profile-and-level {
  display: flex;
  flex-direction: column;
  margin: 0.8em 1rem;
}
#avatar {
  width: 4.8rem;
  border-radius: 6px 6px 0 0;
}
#xp-bar1 {
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-bottom: none;
  border-top: none;
  border-radius: 0;
  position: relative;
  width: 4.8rem;
}
#xp {
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.bar-animation {
  height: inherit;
  width: inherit;
  position: relative;
  overflow: hidden;
}
.bar-fill {
  height: inherit;
  transition: width 0.5s ease-out;
  position: relative;
}
.wave-level {
  right: -2%;
  top: -250%;
  width: 6rem;
  height: 6rem;
}
#xp-next-level {
  position: absolute;
  left: 70%;
  top: -20%;
  z-index: 1;
  border-radius: 3px;
  padding: 2px 4px;
}
#level1:hover #xp-next-level {
  display: block;
}
#level-text {
  border-radius: 0 0 6px 6px;
  text-align: center;
  line-height: 25px;
  height: 25px;
  font-size: 0.9rem;
}
#player-name {
  margin-top: 0.6rem;
  font-size: 1.3rem;
}
#known-as {
  font-size: 1.2rem;
}
.align-to-right {
  position: absolute;
  right: 0.2rem;
}
#character-name {
  font-size: 3.6rem;
  margin-top: 3rem;
  margin-right: 0.5rem;
  box-sizing: border-box;
  max-width: 810px;
}
#character-origin {
  margin-top: 7rem;
  right: 1rem;
  font-size: 1.5rem;
}
.text-to-right {
  text-align: right;
}
#character-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding: 0 1rem;
  margin: 0.5em 0;
}
.characteristic {
  width: 120px;
  height: 64px;
  display: grid;
  grid-template-columns: 60px 40px 20px;
  grid-template-rows: auto 20px 20px;
}
.characteristic-text {
  font-size: 0.9rem;
  grid-column-start: 1;
  grid-column-end: 4;
}
.characteristic-bonus {
  box-sizing: border-box;
  text-align: center;
  line-height: 32px;
  font-size: 2rem;
  width: 60px;
  height: 40px;
  border-radius: 3px 0 0 3px;
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}
.characteristic-value {
  grid-column: 2;
  grid-row: 2;
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  border-left: none;
  border-bottom: none;
  border-radius: 0 3px 0 0;
}
.characteristic-death-save {
  grid-column: 2;
  grid-row: 3;
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  border-left: none;
}
.characteristic-death-save-checkbox {
  grid-column: 3;
  grid-row: 3;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-left: none;
  border-radius: 0 10px 10px 0 ;
  cursor: pointer;
}
.characteristic-bonus, .characteristic-value, .characteristic-death-save, .characteristic-death-save-checkbox {
 position: relative;
}
.characteristic-bonus::after, .characteristic-value::after, .characteristic-death-save::after, .characteristic-death-save-checkbox::after
 {
  content: ''; /* Добавляем пустое содержание для тени */
  display: block; /* Блочный элемент */
  border-radius: 3px;
  position: absolute; /* Абсолютное позиционирование */
  top: -1px; bottom: 0;
  left: -1px; right: -1px; /* Тень чуть больше ширины и высоты заголовка */
  z-index: -1; /* Тень под блоком текста */
}
.characteristic-death-save-checkbox::after {
  border-radius: 10px;
}
#main-dice {
  width: 54px;
  height: 54px;
  z-index: 22;
}
#dice-list {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 54px;
  top: 50%;
}
#dice-list-checkbox:checked ~ .dice-in-list:nth-child(n) {
  width: 54px;
  height: 54px;
  z-index: 21;
  transition: hover 0s;
}
#d20-dice {
  transition: 0.3s ease-out 0s;
}
#dice-list-checkbox:checked ~ #d20-dice {
  top: 2rem;
}
#d12-dice {
  transition: 0.3s ease-out 0.05s;
}
#dice-list-checkbox:checked ~ #d12-dice {
  top: 5rem;
}
#d100-dice {
  transition: 0.3s ease-out 0.1s;
}
#dice-list-checkbox:checked ~ #d100-dice {
  top: 8rem;
}
#d10-dice {
  transition: 0.3s ease-out 0.15s;
}
#dice-list-checkbox:checked ~ #d10-dice {
  top: 11rem;
}
#d8-dice {
  transition: 0.3s ease-out 0.20s;
}
#dice-list-checkbox:checked ~ #d8-dice {
  top: 14rem;
}
#d6-dice {
  transition: 0.3s ease-out 0.25s;
}
#dice-list-checkbox:checked ~ #d6-dice {
  top: 17rem;
}
#d4-dice {
  transition: 0.3s ease-out 0.3s;
}
#dice-list-checkbox:checked ~ #d4-dice {
  top: 20rem;
}
#dice-list-checkbox {
  position: absolute;
  visibility: hidden;
}
.dice-in-list {
  position: absolute;
  top: 0;
  z-index: 20;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
}
#skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 37.5rem;
}
.skill-box {
  line-height: 24px;
  display: flex;
  width: 250px;
  height: 20px;
  justify-content: space-between;
}
.skill-bonus {
  line-height: 20px;
  width: 40px;
  height: 20px;
  text-align: center;
  font-size: 0.9rem;
}
.skill-text {
  line-height: 20px;
  width: 160px;
  height: 20px;
  text-align: center;
  font-size: 0.8rem;
  text-transform: capitalize;
}
.skill-origin {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.aiis-svg {
  width: 64px;
  height: 64px;
  border-radius: 3px;
}
#central {
  display: grid;
  grid-template-columns:
  auto
  auto
  auto;
  grid-template-rows:
  auto
  auto;
  row-gap: 1.5rem;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 1em 1rem;
}
#health {
  margin: auto;
  display: grid;
  position: relative;
  justify-content: center;
}
#hp-bar1 {
  width: 11.5rem;
  height: 25px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  position: relative;
}
#hp-dialog {
  display: none;
  width: inherit;
  height: 80px;
  position: absolute;
  right: -0.1rem;
  top: 1.85rem;
  margin: auto;
  text-align: center;
}
#temp-hp-dialog {
  display: none;
  width: inherit;
  height: 80px;
  position: absolute;
  right: -0.1rem;
  top: 1.85rem;
  margin: auto;
  text-align: center;
}
.wave-main {
  position: absolute;
  border-radius: 40%;
  animation: wave 8s linear infinite;
}
.wave-hp {
  right: -4%;
  top: -190%;
  width: 6rem;
  height: 6rem;
}
@keyframes wave {
  100% {
     transform: rotate(360deg);
  }
}
#heal, #damage, #temp {
  margin: 10px 0;
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 26px;
}
#hp1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
#heal {
  justify-self: end;
  grid-column: 3;
  grid-row: 2;
}
#damage {
  justify-self: start;
  grid-column: 1;
  grid-row: 2;
}
#temp{
  justify-self: center;
  padding: 0;
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  font-size: 0.6rem;
  height: 32px;
  width: 32px;
}
#hit-dice {
  height: 42px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 3;
  font-size: 0.65rem;
  text-align: left;
}
#death-saves-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  background-color: rgba(0,0,0,0.5);
}
#death-saves-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2rem;
  position: relative;
  height: 15.5rem;
  width: 20rem;
}
#death-saves-label {
  position: absolute;
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  left: 0;
  right: 0;
  top: -0.7rem;
}
.death-saves-state {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  left: 0;
  right: 0;
  height: 2rem;
  width: auto;
  line-height: 2rem;
}
#death-saves-interactive {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.heart {
  position: relative;
  display: inline-block;
  transform: rotate(-70deg);
  height: 44px;
  width: 44px;
  background-color: #693437;
  margin: 0 10px 10px 21px;
  top: 0;
}
.heart:before,
.heart:after {
  content: "";
  background-color: inherit;
  border-radius: 50%;
  height: 44px;
  position: absolute;
  width: 44px;
}
.heart:before {
  top: -22px;
  left: 0;
}
.heart:after {
  left: 22px;
  top: 0;
}
#death-saves-dice-remaining {
 font-size: 4rem;
}
#death-saves-dice {
  width: 72px;
  height: 72px;
}
.death-saves-mark {
  width: 32px;
  height: 32px;
}
.death-saves-marks {
  width: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tibf {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30.3rem;
}
.tibf-board {
  position: relative;
}
.tibf-element-area {
  resize: none;
  outline: none;
  padding: 0.9em 0.4em 0.4rem;
  font-size: 0.9rem;
  line-height: 0.9rem;
  width: 100%;
  height: 6rem;
  box-sizing: border-box;
}
.tibf-element-area::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.tibf-element-label {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  top: -0.6rem;
}
#equipment-box {
  padding: 1.2em 0.5em 0.5rem;
  margin: 1.5em 0 0.5em 30px;
  display: flex;
  position: relative;
}
#equipment-label {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  top: -0.7rem;
}
#money-box {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: absolute;
  left: -1.8rem;
}
.currency-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95px;
  margin: 0.1rem;
  padding: 0.2rem;
}
.currency-img {
  height: 24px;
  width: 24px;
  margin: 0 0.4em 0 0;
}
.currency-value {
  font-size: 0.7rem;
  width: 100%;
}
#new-item {
  width: 47px;
  height: 32px;
  margin: auto 2em 0 0;
}
.new-item-img {
  width: 18px;
  height: 18px;
  margin: 0.3em 0 auto;
}
#equipment-flexible {
  height: 12rem;
  width: 8.5rem;
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
}
.item {
  width: 32px;
  height: 32px;
  margin: 8px;
  cursor: pointer;
  position: relative;
}
#item-additional {
  position: absolute;
  height: 200px;
  width: 150px;
  z-index: 50;
  border-radius: 3px;
  text-align: center;
}
#item-display-name {
  width: calc(100% - 1em);
  box-sizing: border-box;
  margin: 0.5em 0;
  font-size: 0.8rem;
}
#item-additional-close {
  width: 14px;
  height: 14px;
  position: absolute;
  top: -0.3rem;
  right: -0.4rem;
  padding: 0;
}
#item-additional-close-img {
  width: 80%;
  height: 80%;
  margin: 0 0 0.45rem;
}
.new-item-dialog {
  display: none;
  width: 180px;
  height: 220px;
  border-width: 4px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.item-name {
  width: calc(100% - 1em);
  box-sizing: border-box;
  margin: 0.5em 0;
}
#hp-value {
  width: calc(100% - 1em);
  box-sizing: border-box;
  margin: 0.2em 0 0.5rem;
}
.choosing-state {
  font-size: 0.75rem;
  width: 4rem;
  border-width: 4px;
}
#confirm-hp, #cancel-hp {
  font-size: 0.7rem;
  width: 4.5rem;
}
.dialog-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  left: 0;
  right: 0;
  bottom: -0.6rem;
}
#temp-hp-dialog-buttons {
  position: absolute;
  display: grid;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  justify-content: center;
  font-size: 0.8rem;
  left: 0;
  right: 0;
  bottom: -0.6rem;
}
#current-hp{
  width: 5rem;
  font-size: inherit;
  grid-row: 1;
  grid-column: 1;
}
#max-hp{
  width: 5rem;
  font-size: inherit;
  grid-row: 1;
  grid-column: 2;
}
#cancel-temp-hp{
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 5rem;
  justify-self: center;
  font-size: inherit;
}
.item-select {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100% - 4em);
  width: calc(100% - 1em);
  box-sizing: border-box;
  margin: 0 auto 1rem;
  justify-content: space-between;
  align-content: space-evenly;
}
.image-select-button {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 1px;
}
#fight-bonuses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fight-bonuses-value {
  position: absolute;
  margin: 0.5rem;
  height: 2rem;
  width: 2rem;
  border: none;
  background: transparent;
  font-size: 1.5rem;
}
#fight-bonuses-checkbox {
  z-index: -1;
  position: absolute;
}
#fight-bonuses-checkbox-lable {
  background-image: url('../images/icons/success_mark.svg');
  position: absolute;
  margin: 1rem;
  height: 1rem;
  width: 1rem;
}
#fight-bonuses-checkbox:unchecked+label {
  background-image: url('../images/icons/success_mark.svg');
}
#fight-bonuses-checkbox:checked+label {
  background-image: url('../images/icons/success_mark_checked.svg');
}
#attacks-and-spellcasting {
  padding: 1em 0 0;
  margin: 1em 0 0;
  position: relative;
}
#ans-label {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  top: -0.7rem;
}
#ans-items {
  width: 100%;
  border-spacing: 0.4rem;
}
#ans-items th {
  font-size: 0.8rem;
}
#ans-items td {
  height: 1rem;
}
#ans-item-bonus {
  max-width: 1rem;
}
#ans-item-dmg {
  max-width: 2rem;
}
#spellcasting {
  min-height: 8rem;
  margin: 0.4rem;
  position: relative;
  flex-grow: 1;
}
#features-and-traits {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2;
  padding: 1.2rem 0.5rem 0.5rem;
  height: 10rem;
}
#features-and-traits-box {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 8rem auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  height: inherit;
}
#features-fixed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 30%;
  grid-row-start: 1;
  grid-row-end: 3;
}
#features-and-traits-flexible {
  max-width: 19.75rem;
  box-sizing: border-box;
  flex-grow: 1;
  overflow-y: auto;
}
#new-feature {
  grid-column: 2;
  grid-row: 2;
}
.fundamental-features {
  height: 25%;
  justify-content: space-between;
}
#other-proficiencies-and-languages {
  padding: 1.2rem 0.5rem 0.5rem;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 2;
  height: 10rem;
  position: relative;
}
#other-proficiencies-and-languages-box {
  display: grid;
  grid-template-rows: 8rem auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
#other-proficiencies-and-languages-flexible {
  box-sizing: border-box;
  width: 11.3rem;
  height: 100%;
  overflow-y: auto;
}
#other-proficiencies-and-languages-label, #features-and-traits-label  {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  top: -0.7rem;
}
.beautiful-alert {
  display: flex;
  position: fixed;
  height: 4rem;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  border-top: none;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  z-index: 100;
  transition: top 0.6s ease-in-out;
}
.beautiful-alert-erase-translate {
  top: -10rem !important;
}
#roll-alert {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 14rem;
  z-index: 95;
  padding: 1rem;
}
.roll-alert-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: inherit;
  margin-bottom: 1rem;
  height: 6rem;
  border-width: 6px;
  border-radius: 18px;
  font-size: 1.5rem;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s ease-in;
}
.roll-alert-msg-number {
  line-height: 3.5rem;
  font-size: 4rem;
}
.roll-alert-erase-translate {
  margin-left: -200% !important;
}
#drop-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  padding: 0.4rem;
  z-index: 50;
  margin: 1rem 0 0 -6rem;
  font-size: 0.7rem;
  height: 7rem;
  cursor: default;
}
.drop-list-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 6rem;
  cursor: pointer;
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
}
.drop-list-bonus {
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.1rem;
  text-align: center;
  box-sizing: border-box;
}
#user-checkbox {
  position: absolute;
  visibility: hidden;
}
#user-btn {
  grid-column: 5;
  padding: 0;
  background: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  align-self: flex-start;
  position: relative;
  z-index: 20;
}
#user-btn-img {
  width: 44px;
  border-radius: inherit;
}
#open-character {
  grid-column: 1;
}
#save-character {
  grid-column: 2;
}
#open-character, #save-character {
  white-space: nowrap;
}
.user-menu-buttons {
  position: absolute;
  display: inline-block;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  height: 1.4rem;
  top: 0.1rem;
}
#user-checkbox:checked ~ .user-menu-buttons {
  visibility: visible;
  opacity: 1;
}
#open-character {
  transition: 0.4s ease-out 0s;
}
#save-character {
  transition: 0.2s ease-out 0.2s;
}

#user-checkbox:checked ~ #open-character {
  right: 10.5rem;
}
#user-checkbox:checked ~ #save-character {
  right: 3rem;
}

.user-menu-buttons-down {
  position: absolute;
  visibility: hidden;
  left: 5%;
  top: 0;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  z-index: -1;
}
.user-menu-buttons-down-img {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#user-settings {
  transition: 0.1s ease-out 0s;
}
#link-logout {
  transition: 0.2s ease-out 0s;
}
#link-login {
  transition: 0.1s ease-out 0s;
}
#link-register {
  transition: 0.2s ease-out 0s;
}

#user-checkbox:not(:checked) ~ #user-settings {
  transition: 0.1s ease-in 0.1s;
}
#user-checkbox:not(:checked) ~ #link-logout {
  transition: 0.2s ease-in 0s;
}
#user-checkbox:not(:checked) ~ #link-login {
  transition: 0.1s ease-in 0.1s;
}
#user-checkbox:not(:checked) ~ #link-register {
  transition: 0.2s ease-in 0s;
}

#user-checkbox:checked ~ .user-menu-buttons-down {
  top: 2.5rem;
  visibility: visible;
}
#user-checkbox:checked ~ #link-logout {
  top: 4.6rem;
}
#user-checkbox:checked ~ #link-login {
  top: 2.5rem;
}
#user-checkbox:checked ~ #link-register {
  top: 4.6rem;
}