@font-face {
  font-family: "Eberron";
  src: url("../fonts/EBERRON_RUS.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html {
  font-family: Eberron;
  font-size: 20px;
}
body {
  margin: 0;
  background-image: url("../images/background/backmenu.webp");
  background-image: url("../images/background/backmenu.jpg");
}
header {
  line-height: 1.6em;
  background-color: #681e22;
}
main {
  display: grid;
  max-width: 960px;
  margin: 0.25em auto;
  /*height: calc(100vh - 3.8em);*/
}
.btest {
    border: 1px solid red;
}
.border-style {
  border: 2px solid #681e22;
  border-radius: 3px;
}
.gray-text {
  color: #606060;
}
#header-title {
  color: #fff;
  font-size: 1.2em;
  margin-left: 0.4em;
  text-shadow: 0 0 5px #fff;
}
#naming {
  display: flex;
  max-width: 960px;
  height: 8.5em;
}
#naming-text {
  display: flex;
  position: relative;
  flex-direction: column;
  width: calc(100vw - 7em);
}
#avatar {
  width: 4.8em;
  height: 4.8em;
  margin: 0.8em 0.5em 0.8em 0.8em;
}
#player-name {
  margin-top: 0.6em;
  font-size: 1.3em;
}
#known-as {
  font-size: 1.2em;
}
.align-to-right {
  position: absolute;
  right: 0.2em;
}
#character-name {
  font-size: 3.6em;
  margin-top: 0.8em;
}
#character-origin {
  margin-top: 4.5em;
  right: 0.6em;
  font-size: 1.5em;
}
#character-level-box {
  display: inline-block;
}
#character-stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 15px;
  margin: 10px 0 10px 0;
}
.characteristic {
  width: 120px;
  height: 64px;
}
.characteristic-text {
  font-size: 0.9em;
}
.characteristic-box {
  display: flex;
  align-items: flex-end;
}
.characteristic-bonus {
  box-sizing: border-box;
  width: 60px;
  height: 40px;
  border: 2px solid #681e22;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.second-box {
  width: 40px;
  height: 40px;
}
.characteristic-value {
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  border: 2px solid #681e22;;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px;
}
.characteristic-deathsave {
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  border: 2px solid #681e22;;
  border-left: none;
}
.characteristic-deathsave-checkbox {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #681e22;;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.characteristic-bonus, .characteristic-value, .characteristic-deathsave, .characteristic-deathsave-checkbox {
 position: relative;
}
.characteristic-bonus::after, .characteristic-value::after, .characteristic-deathsave::after, .characteristic-deathsave-checkbox::after
{
  content: ''; /* Добавляем пустое содержание для тени */
  display: block; /* Блочный элемент */
  border-radius: 3px;
  position: absolute; /* Абсолютное позиционирование */
  top: -1px; bottom: 0;
  left: -1px; right: -1px; /* Тень чуть больше ширины и высоты заголовка */
  z-index: -1; /* Тень под блоком текста */
}
.characteristic-deathsave-checkbox::after {
  border-radius: 10px;
}
.characteristic-bonus::after, .characteristic-value::after, .characteristic-deathsave::after, .characteristic-deathsave-checkbox::after
{
  box-shadow: 0px 0px 10px 0px rgba(66,66,66,0.75);
}
.default-background {
  background-color: #d4bf9b;
}
.dice {
  width: 40px;
  height: 40px;
}
#main-dice-img {
  width: inherit;
}
#skills {
  width: 14.5em;
}
.skill-box {
  line-height: 24px;
  display: flex;
  width: 250px;
  height: 20px;
  margin: 20px;
  justify-content: space-between;
}
.skill-bonus {
  line-height: 20px;
  width: 40px;
  height: 20px;
  text-align: center;
  font-size: 0.9em;
}
.skill-text {
  line-height: 20px;
  width: 160px;
  height: 20px;
  text-align: center;
  font-size: 0.8em;
  text-transform: capitalize;
}
.skill-origin{
  font-size: 0.8em;
  text-transform: uppercase;
}
.img-svg {
  width: 64px;
  height: 64px;
}
#central {
  display: grid;
  grid-template-columns:
  auto
  auto
  auto;
  grid-template-rows:
  auto
  auto
  auto;
  justify-content: space-between;
}
#health {
  margin: 0 44px;
  display: grid;
  grid-template-columns:
  auto
  auto;
  grid-template-rows:
  auto
  auto;
  height: 64px;
  justify-content: center;
}
#health-bar {
  width: 200px;
  height: 25px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}
#heal, #damage {
  margin: 5px 0;
  text-align: center;
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
}
#heal {
  grid-column: 1;
  grid-row: 2;
  color: green;
}
#damage {
  justify-self: end;
  grid-column: 2;
  grid-row: 2;
  color: red;
}
.health-animation-bar {
  position: absolute;
  z-index: 1;
  height: 25px;
  width: 150px;
  background-color: #840705;
  transition: width 1s cubic-bezier(0,0,1,1) 50ms;
}
.health-animation-bar:hover {
  width: 200px;
  z-index: 1;
}
#hp {
  margin: auto;
  z-index: 100;
  position: relative;
}
#heal, #damage {
  position: relative;
  line-height: inherit;
  font-family: Eberron;
  font-size: 1em;
}