header {
  height: 1.6rem;
  line-height: 1.6rem;
}

main {
  display: grid;
  max-width: 960px;
  margin: 0.25em auto;
}

#header-center {
  max-width: 960px;
  height: 1.6rem;
  display: grid;
  grid-template-columns: 10rem 10rem auto auto 3.2rem;
  grid-template-rows: 1.6rem;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.header-buttons {
  outline: none;
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
}

#header-title {
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

#user-checkbox {
  position: absolute;
  visibility: hidden;
}

#user-btn {
  grid-column: 5;
  padding: 0;
  background: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  align-self: flex-start;
  position: relative;
  z-index: 20;
}

#user-btn-img {
  width: 44px;
  border-radius: inherit;
}

#open-character {
  grid-column: 1;
}

#save-character {
  grid-column: 2;
}

#open-character, #save-character {
  white-space: nowrap;
}

.user-menu-buttons {
  position: absolute;
  display: inline-block;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  height: 1.4rem;
  top: 0.1rem;
}

#user-checkbox:checked~.user-menu-buttons {
  visibility: visible;
  opacity: 1;
}

#open-character {
  transition: 0.4s ease-out 0s;
}

#save-character {
  transition: 0.2s ease-out 0.2s;
}

#user-checkbox:checked~#open-character {
  right: 10.5rem;
}

#user-checkbox:checked~#save-character {
  right: 3rem;
}

.user-menu-buttons-down {
  position: absolute;
  visibility: hidden;
  left: 5%;
  top: 0;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  z-index: -1;
}

.user-menu-buttons-down-img {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#user-settings {
  transition: 0.1s ease-out 0s;
}

#link-logout {
  transition: 0.2s ease-out 0s;
}

#link-login {
  transition: 0.1s ease-out 0s;
}

#link-register {
  transition: 0.2s ease-out 0s;
}

#user-checkbox:not(:checked)~#user-settings {
  transition: 0.1s ease-in 0.1s;
}

#user-checkbox:not(:checked)~#link-logout {
  transition: 0.2s ease-in 0s;
}

#user-checkbox:not(:checked)~#link-login {
  transition: 0.1s ease-in 0.1s;
}

#user-checkbox:not(:checked)~#link-register {
  transition: 0.2s ease-in 0s;
}

#user-checkbox:checked~.user-menu-buttons-down {
  top: 2.5rem;
  visibility: visible;
}

#user-checkbox:checked~#link-logout {
  top: 4.6rem;
}

#user-checkbox:checked~#link-login {
  top: 2.5rem;
}

#user-checkbox:checked~#link-register {
  top: 4.6rem;
}

nav {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#tabs {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
}

.navigation-tab {
  height: 1.8rem;
  min-width: 6rem;
  padding: 0 0.3rem;
  margin: 0 0.5rem 0 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  line-height: 1.8rem;
  border-bottom: none;
  cursor: pointer;
}

#content-page {
  max-width: 920px;
  height: 36.3rem;
  padding: 1rem;
  box-sizing: border-box;
}

#avatar-box {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  max-height: 5rem;
  justify-content: space-between;
}

#choose-avatar {
  margin-bottom: 1rem;
}

#submit-avatar {
  margin-bottom: 0;
  margin-top: auto;
}

#avatar-change-overlay {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

#avatar-change-overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% - 0.25rem);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0.25rem;
}

#avatar-change-overlay:hover:before {
  opacity: 1;
}

#avatar-change-overlay:hover #avatar-change-text {
  opacity: 1;
}

#avatar-change-text {
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  position: absolute;
  border-width: 0.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0.25rem;
  left: 0;
  right: 0;
  margin: auto;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  transition: opacity 0.3s ease-in-out;
}

#avatar-img {
  width: inherit;
  height: auto;
  box-sizing: border-box;
  border-width: 0.25rem;
}

.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2rem;
}

.file input {
  min-width: 8rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2rem;
  padding: 0.3rem 0.5rem;
  box-sizing: border-box;
  color: #555;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-custom:after {
  content: attr(data-choose);
}

.file-custom:before {
  position: absolute;
  top: -0.1rem;
  right: -0.1rem;
  bottom: -0.1rem;
  z-index: 6;
  display: block;
  content: attr(data-browse);
  height: 2rem;
  padding: inherit;
  color: var(--black);
  border: inherit;
  box-sizing: inherit;
  border-radius: inherit;
}

.file input:focus~.file-custom {
  border-color: var(--accent-l-color);
}

#profile-settings-page {
  max-width: inherit;
  display: none;
  grid-template-columns: 256px auto;
  column-gap: 1rem;
}

#information-box {
  grid-row: 1;
  grid-column: 2;
  font-size: 2rem;
  line-height: 1.5rem;
  display: grid;
  grid-template-rows: 2rem 2rem 2rem auto;
  row-gap: 1rem;
  align-items: center;
}

#player-email {
  font-size: 1.5rem;
}

#player-change-password {
  max-width: 10rem;
}

#characters-page {
  max-width: inherit;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  row-gap: 1rem;
  position: relative;
}

.character-box {
  display: grid;
  grid-template-columns: auto 11.5rem auto;
  grid-template-rows: 4.7rem 2rem 2rem;
  align-content: center;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  max-width: 876px;
  padding: 0.4rem;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.character-box input {
  cursor: pointer;
}

.new-character-title {
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  font-size: 4rem;
}

.avatar {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 100%;
  box-sizing: border-box;
}

.naming-text {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  min-width: 408px;
}

.profile-and-level {
  display: flex;
  flex-direction: column;
}

.character-name {
  font-size: 2rem;
  max-width: 20rem;
}

.character-origin {
  font-size: 1.2rem;
  line-height: 1.15rem;
}

.text-to-right {
  text-align: right;
}

.xp-bar {
  height: 25px;
  line-height: 20px;
  text-align: center;
  border-bottom: none;
  border-top: none;
  border-radius: 0;
  position: relative;
  width: 11.5rem;
}

.xp {
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.level-text {
  border-radius: 0 0 6px 6px;
  text-align: center;
  line-height: 25px;
  height: 25px;
  font-size: 0.9rem;
  width: 11.5rem;
}

.bar-animation {
  height: inherit;
  width: inherit;
  position: relative;
  overflow: hidden;
}

.bar-fill {
  height: inherit;
  transition: width 0.5s ease-out;
  position: relative;
}

.wave-level {
  right: -4%;
  top: -190%;
  width: 6rem;
  height: 6rem;
}

#health {
  margin: auto;
  display: grid;
  position: relative;
  justify-content: center;
}

.hp-bar {
  width: 11.5rem;
  height: 25px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  position: relative;
  border-radius: 6px 6px 0 0;
}

.wave-main {
  position: absolute;
  border-radius: 40%;
  animation: wave 8s linear infinite;
}

.wave-hp {
  right: -4%;
  top: -190%;
  width: 6rem;
  height: 6rem;
}

@keyframes wave {
  100% {
    transform: rotate(360deg);
  }
}

.hp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.money-box {
  display: flex;
  flex-direction: row;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2;
  justify-content: space-between;
}

.currency-box {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 0.2rem 0.4rem;
  width: 5rem;
}

.currency-img {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
}

.currency-value {
  width: 100%;
  font-size: 0.8rem;
}

.character-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 3;
}

.characteristic {
  display: grid;
  grid-template-columns: 3rem 2rem;
  grid-template-rows: 1rem 1rem;
}

.characteristic-text {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 2rem;
  box-sizing: border-box;
  border-radius: 6px 0 0 6px;
  text-align: center;
  line-height: 1.8rem;
}

.characteristic-bonus {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  height: 1rem;
  line-height: 0.8rem;
  border-left: none;
  border-radius: 0 6px 0 0;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.characteristic-value {
  grid-column: 2;
  grid-row: 2;
  height: 1rem;
  border-left: none;
  border-radius: 0 0 6px 0;
  border-top: none;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.loading-overlay {
  position: absolute;
  width: 100%;
  height: 34.1rem;
  z-index: 100;
}

.loading-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--accent-n-color);
  width: 6rem;
  height: 6rem;
  border-radius: 50% 0;
  z-index: 101;
  animation: round 8s linear infinite;
}

.loading-animation-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 0 50%;
  animation: roundReverse 4s linear infinite;
}

@keyframes round {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes roundReverse {
  100% {
    transform: rotate(-360deg);
  }
}

#avatar-crop-layout {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 200;
}

#avatar-crop-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 30rem;
  max-height: 35rem;
  border-width: 4px;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  z-index: 201;
  align-items: center;
}

#avatar-crop-field {
  grid-row: 1;
  align-self: flex-start;
}

#avatar-crop-field img {
  max-width: 100%;
}

#data-content-page {
  display: none;
  max-width: inherit;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 1rem;
}

#data-content-add {
  font-size: 1.5rem;
}

.data-content-list-entry {
  font-size: 1.5rem;
  text-align: center;
}