@font-face {
  font-family: 'Eberron';
  src: url('../fonts/EBERRON_RUS.otf') format('truetype');
}

.smoothColor * {
  -webkit-transition: background-color 0.5s ease-out !important;
  -moz-transition: background-color 0.5s ease-out !important;
  -o-transition: background-color 0.5s ease-out !important;
  -ms-transition: background-color 0.5s ease-out !important;
  transition: background-color 0.5s ease-out !important;
}

body {
  margin: 0;
  font-family: 'Eberron', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%
}